body {
    margin: 0;
    padding: 0;
    background-color: purple;
}

#iphone-container {
    position: relative;
    width: 375px; /* width of iPhone 13 */
    height: 812px; /* height of iPhone 13 */
    margin: 50px auto; /* Adjust margin as needed */
    background-color: lightblue; /* Set iPhone background color */
    border-radius: 30px; /* Added rounded corners to mimic iPhone & android screen */
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

#screen-content {
    padding: 20px;
}

.header_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.header_item{
    margin: 0 10px;

}#RxMessage{
    padding: 10px;
    margin-top: 50px;
    background-color: #f2f2f2;
}

#SxPopup{
    display: flex;
    flex-direction: column;
    margin-top: 75px;
    border: 3px solid black;
}

#SxPopup h3{
    font-size: 40px;
    align-items: center;
    border: 2px dashed red;
}

#SxPopup button {
    margin: 10px;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

#SxPopup button:active,
#SxPopup button.selected {
    background-color: black;
    color: white;
}

#SxPopup button:hover {
    background-color: #333; /* Darker color on hover */
    color: white;
}

#locationsAvailable{
    display: flex;
    flex-direction: column;
    margin-top: 75px;
    border: 3px solid black;
}

#locationsAvailable h3{
    font-size: 35px;
    align-items: center;
    border: 2px solid yellow;
}

#locationsAvailable button {
    margin: 10px;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

#locationsAvailable button:active,
#locationsAvailable button.selected {
    background-color: black;
    color: white;
}

#locationsAvailable button:hover {
    background-color: #333; /* Darker color on hover */
    color: white;
}

#serviceSubmitButton{
    width: 94%;
    color: navy;
}

.option{
    width: 94%;
}

#messgeBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#messageInput {
    margin-top: 230px;
    flex-grow: 1;
    margin-right: 10px;
    padding: 17px;
    background-color: #f2f2f2;
}

#display-keyboard {
    display: grid;
    grid-template-columns: repeat(5, 3fr);
    gap: 7px;
    padding: 15px;
    background-color: blue;
}

#display-keyboard button {
    padding: 10px;
    font-size: 10px;
    cursor: pointer;
}

#seperator{
    font-size: 20px;
    font-weight: 10px;
    color: red;
}


#mobileServiceBox{
    border: 2px solid black;
    padding: 10px;
    background-color: lightskyblue;
}

#mobileServiceBox button{
    width: 100%;
    height: 50px;
    background-color: lightsalmon;
    cursor: pointer;
}

#mobileServiceBox button:hover{
    background-color: #333;
    color: white;
}

#mobileServiceBox h2{
    color: navy;
    margin-left: 50px;
}

#mobileServiceChatBox{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 45px;
    height: 55px;
    cursor: pointer;
    border: 3px black solid;
    padding: 10px;
    background-color: lightskyblue;
}

#mobileServiceChatBox:hover{
    background-color: lightgray;
    color: white;
   
}

#chatIcon2{
    float: right;
}

.chatIcons{
    margin: 3px;
}

#serviceInfoButton{
    max-width: 25%;
    max-height: 40%;
    float: right;
    margin-left: 2px;
}

#pushUp h2{
    color: navy;
    margin-left: 69px;
}

#pushUp{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
    height: 35px;
    cursor: pointer;
    border: 3px black solid;
    padding: 10px;
    background-color: lightskyblue;
}

#pushUp:hover{
    background-color: lightgray;
    color: white;
   
}

#directionButton{
    
    max-height: 25px;
    max-width: 100%;
    background-color: lightsalmon;
    cursor: pointer;
    margin-bottom: 5px;
}

#directionButton:hover{
    background-color: #333;
    color: white;
}



#returnButton{
    align-items: center;
    margin-top: 300px;
    max-width: 95%;
}


#map{
    align-items: center;
    max-height: 275px;
    max-width: 125%;
    cursor: pointer;
}
        

#hoursLocationBox{
    border: 2px solid black;
    padding: 10px;
    background-color: lightskyblue;
}

#hoursLocationBox button{
    width: 100%;
    height: 50px;
    background-color: lightsalmon;
    cursor: pointer;
}

#hoursLocationBox button:hover{
    background-color: #333;
    color: white;
}

#hoursLocationBox h2{
    color: navy;
    margin-left: 20px;
}

#hoursLocationChatBox{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 45px;
    height: 55px;
    cursor: pointer;
    border: 3px black solid;
    padding: 10px;
    background-color: lightskyblue;
}

#mobileServiceChatBox:hover{
    background-color: lightgray;
    color: white;
   
}